* {margin:0;padding:0;box-sizing:border-box}
body {background-color:#ff5a60}

.App {
	width: 550px;
	height: 100vh;
	margin: auto;
	background: #fff;
}

/* ===== NAVBAR ===== */
.Navbar {
	padding: 22px 30px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2)
}